
body{
    margin: 0px;
    padding: 0px;
    border: 0px;

   
}
.display{
    display: flex;
    align-items: center;
    min-width: 100vh;
}
.image{
    border-style:double;
    border-width: 10px;
    border-color:rgb(0, 0, 0);
    border-radius: 100%;
    display: flex;
    height: 150px;
}
.image:hover{
    border-style:double;
    border-width: 10px;
   
   box-shadow:2px 5px 5px 5px #9103ce;
   animation: neon-animation 1.5s infinite alternate;
}
.id{
    margin-top: 0px;
    height: 100vh;
    min-width: 30vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
    background-color:#5B2C6F 
}
body
{
   
   margin: 0;
}

.title{
    margin-left: 100px;
    font-size: 6rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding-bottom: 20px;
    justify-content: center;

    
    align-items: center;
}
.sub-title{
    color:#5B2C6F;
    font-family: Arial, Helvetica, sans-serif sans-serif;
    text-align: center;
}
.address
{margin-left: 100px; 
    font-family: 'Courier New', monospace;
    font-weight: bolder;
    font-size: 18px; 
 text-align: center;
    margin-top: -120px;
}
a
{
    text-decoration: none;
    color: white;

}
nav{
   
    height: 50px;
    width: 50px;
    border-radius: 100%;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    background-color:grey;
    color: white !important;
    border: 2px solid grey;
    font-size: 11px;

}
main{
    background-image: linear-gradient(to bottom,#5B2C6F ,rgb(255, 255, 255));
    display: flex;
    max-width: 100%;
}
.describe
{   
  display: flex;
  justify-content: center;
  margin-left: 100px;
    text-align: center;
    color:rgb(54, 54, 54);
   

}
.profile{
justify-content: center;
align-items: center;

display: flex;
 
  
    
}
a.icon{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    background-color:#000;
    color: white ;
    border: 2px solid #6A5ACD;
    font-size: 20px;
    
}
.links
{
    
    margin-top: 20px;
    display:flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
   
    
   

}
.knowledge{
   
    font-size: 27px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.highlight{
    color:black;
}

.social{
    margin-top: 100px;
   display: flex;
   justify-content: space-between;
   margin-left:210px ;
  padding: 0px;
    text-align: center;
    max-width: 50%;
}
li:hover,a:hover{
    cursor: pointer;
   transform: scale(1.2);
   transition: 0.2s;
   list-style: none;
    
}
li{
    color: #5B2C6F;
}
.objective{
   
    font-size: 20px;
    
    text-align: center;
    
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color:#000;
}
.lists{
    
    
    font-size: 20px;
  }

.objective h2{
   
    
    color:#5B2C6F; 
  
    text-align: center;
    
    font-size: 45px;
}
.dt{
    margin-left: 100px;
    font-family: sans-serif;
}

#linkedin:hover{
    color: rgba(0, 162, 255, 0.493);
    border-color: #ab0af0;
}
#email:hover{
    color: yellow;
    border-color: #ab0af0;
}
#github:hover{
    color: #5B2C6F;
    border-color: #ab0af0;
}
 .id a:hover{ box-shadow:1px 1px 1px 1px #ab0af0;
   border-radius: 15%;
   
}

@keyframes neon-animation {
  0% {
    box-shadow: 0 0 5px #fff;
  }
  100% {
    box-shadow: 0 0 20px #ff00ea, 0 0 40px #ff00ea, 0 0 80px #ff00ea;
  }
}