
body{
    margin: 0;
   
}
.image{
    border-style:double;
    border-width: 10px;
    border-color:rgb(49, 46, 49);
    border-radius: 100%;
    justify-content: center;
    height: 150px;
}
.id{
    height: 100vh;
    width:20%;
    display: inline-block;
    background-color:#5B2C6F 
}
body
{
   margin: 0;
}

.title{
   
    font-size: 7rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    display:flex;
    margin-top: -820px; 
    margin-left:  415px;
    align-items: center;
}
.sub-title{
    color:#5B2C6F;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.address
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px; 
    margin-left: 435px;
    margin-top: -120px;
}
a
{
    text-decoration: none;
    color: white;

}
nav{
   
    height: 50px;
    width: 50px;
    border-radius: 100%;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    background-color:grey;
    color: white !important;
    border: 2px solid grey;
    font-size: 11px;

}
main{
    background-image: linear-gradient(to bottom,#5B2C6F ,white);
}
.describe
{   
  
   
    margin-top:45px; 
    margin-left: 415px; 
    font-size: 17px;
    color:grey;
   

}
.profile{

    
    display: flex;
    justify-content: center;
    margin-top: 70%;
    
}
a.icon{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    background-color:#000;
    color: white ;
    border: 2px solid #6A5ACD;
    font-size: 20px;
    
}
.links
{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    
   

}
.knowledge{
   
    font-size: 27px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    display:flex;
    margin-top: -620px; 
    margin-left: 415px;
}
.highlight{
    color:black;
}
.social{
    display:flex;
    justify-content: space-between;
    width: 350px;
    margin-left: 580px;
    margin-top: 55px;
}
li:hover,a:hover{
   transform: scale(1.5);
    
}
li{
    color: #5B2C6F;
}
.objective{
   
    font-size: 20px;
    
    text-align: center;
    
    display:block;
    margin-top: -600px; 
    margin-left: 115px;
    color:#000;
}
.lists{
    margin-left:180px;
    
    font-size: 20px;
  }

.objective h2{
   
    
    color:#5B2C6F; 
  
    text-align: center;
    
    font-size: 45px;
}
.dt{
    margin-left: 200px;
}
